.card-box {
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  padding: 16px 20px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0,0,0,0.05);
  transition: transform 0.2s ease;
  height: 130px;
  overflow: hidden;
  gap: 20px;
  
  margin-left: 0; /* 오른쪽 정렬 */
  margin-right: auto;
}

.card-box:hover {
  transform: translateY(-3px);
}

.card-box img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 8px;
  flex-shrink: 0;
}

.card-box .card-content {
  flex: 1;              /* 남은 공간 모두 차지 */
  text-align: right;
  min-width: 0;         /* 줄바꿈 허용 */
  overflow-wrap: break-word;
}

.card-box h6 {
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 4px;
}

.card-box p {
  margin-bottom: 3px;
  font-size: 14px;
  color: #666;
}
.filter-bar .btn {
  border-radius: 20px;
  padding: 6px 16px;
  font-size: 14px;
  font-weight: 500;
  transition: all 0.2s ease-in-out;
}

.filter-bar .btn.active {
  background-color: #333;
  color: #fff;
  border-color: #333;
}

.filter-bar .btn:hover {
  background-color: #555;
  color: #fff;
}

.filter-bar .dropdown-menu {
  font-size: 14px;
}

.qr-banner-blue {
  width: 280px;
  height: 600px;
  background: linear-gradient(135deg, #007acc, #e0f7ff);
  border-radius: 16px;
  padding: 24px 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  font-family: 'Noto Sans KR', sans-serif;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  margin-top: 110px;
}

.qr-banner-text .headline {
  font-size: 16px;
  margin-bottom: 8px;
}

.qr-banner-text .emphasis {
  font-size: 20px;
  font-weight: bold;
  line-height: 1.5;
}

.blue-banner-image {
  width: 150px;
  border-radius: 12px;
  display: block;
  margin: 0 auto;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.qr-download {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.qr-download .download-text {
  font-size: 20px;
  line-height: 1.4;
}

.qr-code {
  width: 64px;
  height: 64px;
}

